body {
    // background-image: url("4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkblue;
    color:white;
    a {
        color: white;
    }
}

#topnav {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
#index-page {
    font-size: 20px;
    text-align: center;
}

#post-indexcontainer {
    display: inline-flex;
    color: chartreuse;
    width: 1200px;
    height: 200px;
}
#postbox {
    margin: 35px;
    // background-color: rgb(47, 65, 47);
    border: 1px solid white;
}