body {
    background-color: darkblue;
    color: white;
    a {
        color: white;
    }
}

#topnav {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
#index-page {
    font-size: 20px;
    text-align: center;
}